@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


body{
  background-color: black !important;
}

#card-container{
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:3%;
}
#card{
  width:80%;
}
.content-button{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}


